@import "./../../theme/_breakpoints.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 auto;
  align-items: center;
  position: relative;
  height: 100vh;
  overflow: auto;
  min-height: 21.6rem;

  @include respond-to-desktop {
    min-height: 30rem;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 auto;
    align-items: center;
    width: 80vw;
    max-width: 42rem;
    margin-top: 3.6rem;

    @include respond-to-desktop {
      margin-top: 5rem;
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
